In [7]:
import pandas as pd
import numpy as np ,numpy.random
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil.relativedelta import relativedelta
import random
from catboost import Pool, CatBoostRegressor, cv,CatBoostClassifier

# Table Rendements

In [8]:
url = "C:/Users/louis/Documents/Projet Finance Quantitative/"

In [1]:
database = pd.read_excel(url + "Universe_ESG.xlsx")
database = database.T.iloc[1:,]
database = database.reset_index()
database.columns = database.iloc[0,]
database = database.iloc[1:,]
database = database.rename(columns={"Name" : "Date"})
database["Date"] = pd.to_datetime(database["Date"])
Convertir = list(database.columns[1:])
database[Convertir] = database[Convertir].astype(float)
print(database.shape)
database.head(3)
pd.set_option('display.max_rows', 20)
db_rendements = database.copy()
db_rendements=db_rendements.set_index("Date")
db_rendements = db_rendements.stack()
db_rendements = pd.DataFrame(db_rendements,columns = {"Return"})
db_rendements = db_rendements.reset_index()
db_rendements = db_rendements.rename(columns = {0:"Titres"})
lag_1mois = db_rendements.sort_values(["Titres","Date"]).groupby("Titres")["Return"].shift(1)
lag_2mois = db_rendements.sort_values(["Titres","Date"]).groupby("Titres")["Return"].shift(2)
lag_3mois = db_rendements.sort_values(["Titres","Date"]).groupby("Titres")["Return"].shift(3)
lag_4mois = db_rendements.sort_values(["Titres","Date"]).groupby("Titres")["Return"].shift(4)
db_rendements["lag1"]=lag_1mois
db_rendements["lag2"]=lag_2mois
db_rendements["lag3"]=lag_3mois
db_rendements["lag4"]=lag_4mois
db_rendements.sort_values(["Titres","Date"])
db_rendements.iloc[400:405,:]

NameError: name 'pd' is not defined

##### Valeurs manquantes sur les rendements ?

In [2]:
db_rendements.isna().sum()

NameError: name 'db_rendements' is not defined

On peut observer qu'il n'y a pas de valeurs manquantes sur les données de rendement fournies initialement

In [11]:
db_rendements.to_csv("db_rendements.csv", header=True,index=False)

In [12]:
database.to_csv("database.csv", header=True,index=False)

# Table de jointure

In [13]:
pd.set_option("display.max_rows",500)
Equivalence = pd.read_excel(url + "Universe_ESG.xlsx",usecols=["Ticker","Name"])
Equivalence['Abréviation'] = Equivalence['Ticker'].astype(str).str[:-7]
#Equivalence["Domaine"] = 
Equivalence

            Ticker                          Name Abréviation
0    HES US Equity                     HESS CORP      HES US
1    NEM US Equity         NEWMONT GOLDCORP CORP      NEM US
2   INTC US Equity                    INTEL CORP     INTC US
3    IFF US Equity     INTL FLAVORS & FRAGRANCES      IFF US
4    MOS US Equity                 MOSAIC CO/THE      MOS US
5    EXC US Equity                   EXELON CORP      EXC US
6    KMB US Equity           KIMBERLY-CLARK CORP      KMB US
7    JNJ US Equity             JOHNSON & JOHNSON      JNJ US
8    BAX US Equity      BAXTER INTERNATIONAL INC      BAX US
9     FO US Equity                 FORD MOTOR CO       FO US
10    CC US Equity               CHEMOURS CO/THE       CC US
11   COP US Equity                CONOCOPHILLIPS      COP US
12   WFC US Equity              WELLS FARGO & CO      WFC US
13    WY US Equity               WEYERHAEUSER CO       WY US
14   TGT US Equity                   TARGET CORP      TGT US
15   MMM US Equity                         3M CO      MMM US
16    GM US Equity             GENERAL MOTORS CO       GM US
17   CMI US Equity                   CUMMINS INC      CMI US
18   HAS US Equity                    HASBRO INC      HAS US
19   DUK US Equity              DUKE ENERGY CORP      DUK US
20   EMN US Equity           EASTMAN CHEMICAL CO      EMN US
21    BK US Equity  BANK OF NEW YORK MELLON CORP       BK US
22   UFS US Equity                   DOMTAR CORP      UFS US
23   ECL US Equity                    ECOLAB INC      ECL US
24   SLB US Equity              SCHLUMBERGER LTD      SLB US
25   UPS US Equity    UNITED PARCEL SERVICE-CL B      UPS US
26   AT& US Equity                      AT&T INC      AT& US
27   NSC US Equity         NORFOLK SOUTHERN CORP      NSC US
28   PPL US Equity                      PPL CORP      PPL US
29    MO US Equity              ALTRIA GROUP INC       MO US
30   JLL US Equity        JONES LANG LASALLE INC      JLL US
31    CI US Equity                 CITIGROUP INC       CI US
32   ABT US Equity           ABBOTT LABORATORIES      ABT US
33   AMD US Equity        ADVANCED MICRO DEVICES      AMD US
34   CVX US Equity                  CHEVRON CORP      CVX US
35   CMA US Equity                  COMERICA INC      CMA US
36   DTE US Equity            DTE ENERGY COMPANY      DTE US
37   HSY US Equity                HERSHEY CO/THE      HSY US
38   KIM US Equity             KIMCO REALTY CORP      KIM US
39   NBL US Equity              NOBLE ENERGY INC      NBL US
40   IBM US Equity   INTL BUSINESS MACHINES CORP      IBM US
41  WELL US Equity                 WELLTOWER INC     WELL US
42    IR US Equity            INGERSOLL-RAND PLC       IR US
43   BKR US Equity               BAKER HUGHES CO      BKR US
44   WEC US Equity          WEC ENERGY GROUP INC      WEC US
45   OXY US Equity     OCCIDENTAL PETROLEUM CORP      OXY US
46   WMB US Equity              WILLIAMS COS INC      WMB US
47   UNP US Equity            UNION PACIFIC CORP      UNP US
48    WM US Equity          WASTE MANAGEMENT INC       WM US
49   CCL US Equity                 CARNIVAL CORP      CCL US

# Table Indicateurs

In [14]:
IND1 = pd.read_excel(url + "Excel_fq_clean.xlsx",sheet_name="EBITDA_TO_REVENUE2")
IND1.rename(columns={"F US Equity" : "FO US Equity","T US Equity" : "AT& US Equity","C US Equity" : "CI US Equity" },inplace=True)
IND2 = pd.read_excel(url + "Excel_fq_clean.xlsx",sheet_name="CURRENT_EV_TO_T12M_EBITDA2")
IND2.rename(columns={"F US Equity" : "FO US Equity","T US Equity" : "AT& US Equity","C US Equity" : "CI US Equity" },inplace=True)
IND3 = pd.read_excel(url + "Excel_fq_clean.xlsx",sheet_name="EBITDA_to_Interest_Expense2")
IND3.rename(columns={"F US Equity" : "FO US Equity","T US Equity" : "AT& US Equity","C US Equity" : "CI US Equity" },inplace=True)
IND4 = pd.read_excel(url + "Excel_fq_clean.xlsx",sheet_name="TOT_DEBT_TO_EBITDA2")
IND4.rename(columns={"F US Equity" : "FO US Equity","T US Equity" : "AT& US Equity","C US Equity" : "CI US Equity" },inplace=True)
IND5 = pd.read_excel(url + "Excel_fq_clean.xlsx",sheet_name="BEST_EST_PE_NXT_YR2")
IND5.loc[0:116,:].fillna(int(-999),inplace=True)
IND5.rename(columns={"F US Equity" : "FO US Equity","T US Equity" : "AT& US Equity","C US Equity" : "CI US Equity" },inplace=True)
IND6 = pd.read_excel(url + "Excel_fq_clean.xlsx",sheet_name="PE_RATIO2")
IND6.rename(columns={"F US Equity" : "FO US Equity","T US Equity" : "AT& US Equity","C US Equity" : "CI US Equity" },inplace=True)
IND7 = pd.read_excel(url + "Excel_fq_clean.xlsx",sheet_name="DIVIDEND_INDICATED_YIELD2")
IND7.rename(columns={"F US Equity" : "FO US Equity","T US Equity" : "AT& US Equity","C US Equity" : "CI US Equity" },inplace=True)
IND8 = pd.read_excel(url + "Excel_fq_clean.xlsx",sheet_name="EQY_DVD_YLD_IND2")
IND8.rename(columns={"F US Equity" : "FO US Equity","T US Equity" : "AT& US Equity","C US Equity" : "CI US Equity" },inplace=True)
IND9 = pd.read_excel(url + "Excel_fq_clean.xlsx",sheet_name="EPS_GROWTH2")
IND9.rename(columns={"F US Equity" : "FO US Equity","T US Equity" : "AT& US Equity","C US Equity" : "CI US Equity" },inplace=True)
indicateurs = IND1.add_suffix('_EBITDA_TO_REVENUE').merge(IND2.add_suffix('_CURRENT_EV_TO_T12M_EBITDA'),how = "left",left_on="Fonds_EBITDA_TO_REVENUE",right_on="Fonds_CURRENT_EV_TO_T12M_EBITDA")
del indicateurs["Fonds_CURRENT_EV_TO_T12M_EBITDA"]
indicateurs = indicateurs.merge(IND3.add_suffix('_EBITDA_to_Interest_Expense'),how = "left",left_on="Fonds_EBITDA_TO_REVENUE",right_on="Fonds_EBITDA_to_Interest_Expense")
del indicateurs["Fonds_EBITDA_to_Interest_Expense"]
indicateurs = indicateurs.merge(IND4.add_suffix('_TOT_DEBT_TO_EBITDA'),how = "left",left_on="Fonds_EBITDA_TO_REVENUE",right_on="Fonds_TOT_DEBT_TO_EBITDA")
del indicateurs["Fonds_TOT_DEBT_TO_EBITDA"]
indicateurs = indicateurs.merge(IND5.add_suffix('_BEST_EST_PE_NXT_YR2'),how = "left",left_on="Fonds_EBITDA_TO_REVENUE",right_on="Fonds_BEST_EST_PE_NXT_YR2")
del indicateurs["Fonds_BEST_EST_PE_NXT_YR2"]
indicateurs = indicateurs.merge(IND6.add_suffix('_PE_RATIO'),how = "left",left_on="Fonds_EBITDA_TO_REVENUE",right_on="Fonds_PE_RATIO")
del indicateurs["Fonds_PE_RATIO"]
indicateurs = indicateurs.merge(IND7.add_suffix('_DIVIDEND_INDICATED_YIELD'),how = "left",left_on="Fonds_EBITDA_TO_REVENUE",right_on="Fonds_DIVIDEND_INDICATED_YIELD")
del indicateurs["Fonds_DIVIDEND_INDICATED_YIELD"]
indicateurs = indicateurs.merge(IND8.add_suffix('_EQY_DVD_YLD_IND'),how = "left",left_on="Fonds_EBITDA_TO_REVENUE",right_on="Fonds_EQY_DVD_YLD_IND")
del indicateurs["Fonds_EQY_DVD_YLD_IND"]
indicateurs = indicateurs.merge(IND9.add_suffix('_EPS_GROWTH'),how = "left",left_on="Fonds_EBITDA_TO_REVENUE",right_on="Fonds_EPS_GROWTH")
del indicateurs["Fonds_EPS_GROWTH"]
indicateurs = indicateurs.rename(columns={"Fonds_EBITDA_TO_REVENUE" : "Dates"})
indicateurs.head(2)

C:\Users\louis\Anaconda3\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

,Dates,HES US Equity_EBITDA_TO_REVENUE,NEM US Equity_EBITDA_TO_REVENUE,INTC US Equity_EBITDA_TO_REVENUE,IFF US Equity_EBITDA_TO_REVENUE,MOS US Equity_EBITDA_TO_REVENUE,EXC US Equity_EBITDA_TO_REVENUE,KMB US Equity_EBITDA_TO_REVENUE,JNJ US Equity_EBITDA_TO_REVENUE,BAX US Equity_EBITDA_TO_REVENUE,...,IBM US Equity_EPS_GROWTH,WELL US Equity_EPS_GROWTH,IR US Equity_EPS_GROWTH,BKR US Equity_EPS_GROWTH,WEC US Equity_EPS_GROWTH,OXY US Equity_EPS_GROWTH,WMB US Equity_EPS_GROWTH,UNP US Equity_EPS_GROWTH,WM US Equity_EPS_GROWTH,CCL US Equity_EPS_GROWTH
0,2010-01-31,5.871767,16.904533,19.417867,6.3521,11.826033,15.841,5.9152,11.730967,3.405067,...,5.653033,-21.9363,NaN,NaN,-2.754833,66.666667,12.6984,13.8889,6.4516,-1.9608
1,2010-02-28,5.871767,16.904533,19.417867,6.3521,11.826033,15.841,5.9152,11.730967,3.405067,...,5.653033,-21.9363,NaN,NaN,-2.754833,66.666667,12.6984,13.8889,6.4516,-1.9608

In [15]:
indicateurs.isna().sum()

Dates                                          0
HES US Equity_EBITDA_TO_REVENUE                2
NEM US Equity_EBITDA_TO_REVENUE                2
INTC US Equity_EBITDA_TO_REVENUE               5
IFF US Equity_EBITDA_TO_REVENUE                2
MOS US Equity_EBITDA_TO_REVENUE               11
EXC US Equity_EBITDA_TO_REVENUE                2
KMB US Equity_EBITDA_TO_REVENUE                2
JNJ US Equity_EBITDA_TO_REVENUE                2
BAX US Equity_EBITDA_TO_REVENUE                2
FO US Equity_EBITDA_TO_REVENUE                 2
CC US Equity_EBITDA_TO_REVENUE                50
COP US Equity_EBITDA_TO_REVENUE                2
WFC US Equity_EBITDA_TO_REVENUE              119
WY US Equity_EBITDA_TO_REVENUE                 2
TGT US Equity_EBITDA_TO_REVENUE                2
MMM US Equity_EBITDA_TO_REVENUE                2
GM US Equity_EBITDA_TO_REVENUE                 2
CMI US Equity_EBITDA_TO_REVENUE                2
HAS US Equity_EBITDA_TO_REVENUE                5
DUK US Equity_EBITDA_TO_REVENUE                2
EMN US Equity_EBITDA_TO_REVENUE                2
BK US Equity_EBITDA_TO_REVENUE               119
UFS US Equity_EBITDA_TO_REVENUE                2
ECL US Equity_EBITDA_TO_REVENUE                2
SLB US Equity_EBITDA_TO_REVENUE                2
UPS US Equity_EBITDA_TO_REVENUE                2
AT& US Equity_EBITDA_TO_REVENUE                2
NSC US Equity_EBITDA_TO_REVENUE                2
PPL US Equity_EBITDA_TO_REVENUE                2
MO US Equity_EBITDA_TO_REVENUE                 2
JLL US Equity_EBITDA_TO_REVENUE                2
CI US Equity_EBITDA_TO_REVENUE                 2
ABT US Equity_EBITDA_TO_REVENUE                2
AMD US Equity_EBITDA_TO_REVENUE                5
CVX US Equity_EBITDA_TO_REVENUE                2
CMA US Equity_EBITDA_TO_REVENUE              119
DTE US Equity_EBITDA_TO_REVENUE                2
HSY US Equity_EBITDA_TO_REVENUE                2
KIM US Equity_EBITDA_TO_REVENUE                2
NBL US Equity_EBITDA_TO_REVENUE                2
IBM US Equity_EBITDA_TO_REVENUE                2
WELL US Equity_EBITDA_TO_REVENUE               2
IR US Equity_EBITDA_TO_REVENUE                 2
BKR US Equity_EBITDA_TO_REVENUE               74
WEC US Equity_EBITDA_TO_REVENUE                2
OXY US Equity_EBITDA_TO_REVENUE                2
WMB US Equity_EBITDA_TO_REVENUE                2
UNP US Equity_EBITDA_TO_REVENUE                2
WM US Equity_EBITDA_TO_REVENUE                 2
CCL US Equity_EBITDA_TO_REVENUE                2
HES US Equity_CURRENT_EV_TO_T12M_EBITDA        2
NEM US Equity_CURRENT_EV_TO_T12M_EBITDA        2
INTC US Equity_CURRENT_EV_TO_T12M_EBITDA       2
IFF US Equity_CURRENT_EV_TO_T12M_EBITDA        2
MOS US Equity_CURRENT_EV_TO_T12M_EBITDA        2
EXC US Equity_CURRENT_EV_TO_T12M_EBITDA        2
KMB US Equity_CURRENT_EV_TO_T12M_EBITDA        2
JNJ US Equity_CURRENT_EV_TO_T12M_EBITDA        2
BAX US Equity_CURRENT_EV_TO_T12M_EBITDA        2
FO US Equity_CURRENT_EV_TO_T12M_EBITDA         2
CC US Equity_CURRENT_EV_TO_T12M_EBITDA        65
COP US Equity_CURRENT_EV_TO_T12M_EBITDA        2
WFC US Equity_CURRENT_EV_TO_T12M_EBITDA      119
WY US Equity_CURRENT_EV_TO_T12M_EBITDA         2
TGT US Equity_CURRENT_EV_TO_T12M_EBITDA        2
MMM US Equity_CURRENT_EV_TO_T12M_EBITDA        2
GM US Equity_CURRENT_EV_TO_T12M_EBITDA        11
CMI US Equity_CURRENT_EV_TO_T12M_EBITDA        8
HAS US Equity_CURRENT_EV_TO_T12M_EBITDA        2
DUK US Equity_CURRENT_EV_TO_T12M_EBITDA        2
EMN US Equity_CURRENT_EV_TO_T12M_EBITDA        2
BK US Equity_CURRENT_EV_TO_T12M_EBITDA       119
UFS US Equity_CURRENT_EV_TO_T12M_EBITDA        2
ECL US Equity_CURRENT_EV_TO_T12M_EBITDA        2
SLB US Equity_CURRENT_EV_TO_T12M_EBITDA        2
UPS US Equity_CURRENT_EV_TO_T12M_EBITDA        2
AT& US Equity_CURRENT_EV_TO_T12M_EBITDA        2
NSC US Equity_CURRENT_EV_TO_T12M_EBITDA        2
PPL US Equity_CURRENT_EV_TO_T12M_EBITDA        2
MO US Equity_CURRENT_EV_TO_T12M_EBITDA         2
JLL US Equity_CURRENT_EV_TO_T12M_EBITDA        2
CI US Equity_CURRENT_EV_TO_T12M_EBITDA         2
ABT US Equity_CURRENT_EV_TO_T12M_EBITDA        2
AMD US Equity_CURRENT_EV_TO_T12M_EBITDA        2
CVX US Equity_CURRENT_EV_TO_T12M_EBITDA        2
CMA US Equity_CURRENT_EV_TO_T12M_EBITDA      119
DTE US Equity_CURRENT_EV_TO_T12M_EBITDA        2
HSY US Equity_CURRENT_EV_TO_T12M_EBITDA        2
KIM US Equity_CURRENT_EV_TO_T12M_EBITDA        2
NBL US Equity_CURRENT_EV_TO_T12M_EBITDA        2
IBM US Equity_CURRENT_EV_TO_T12M_EBITDA        2
WELL US Equity_CURRENT_EV_TO_T12M_EBITDA       2
IR US Equity_CURRENT_EV_TO_T12M_EBITDA         2
BKR US Equity_CURRENT_EV_TO_T12M_EBITDA       92
WEC US Equity_CURRENT_EV_TO_T12M_EBITDA        2
OXY US Equity_CURRENT_EV_TO_T12M_EBITDA        2
WMB US Equity_CURRENT_EV_TO_T12M_EBITDA        2
UNP US Equity_CURRENT_EV_TO_T12M_EBITDA        2
WM US Equity_CURRENT_EV_TO_T12M_EBITDA         2
CCL US Equity_CURRENT_EV_TO_T12M_EBITDA        2
HES US Equity_EBITDA_to_Interest_Expense       2
NEM US Equity_EBITDA_to_Interest_Expense       2
INTC US Equity_EBITDA_to_Interest_Expense     14
IFF US Equity_EBITDA_to_Interest_Expense       2
MOS US Equity_EBITDA_to_Interest_Expense      11
EXC US Equity_EBITDA_to_Interest_Expense       2
KMB US Equity_EBITDA_to_Interest_Expense       2
JNJ US Equity_EBITDA_to_Interest_Expense       2
BAX US Equity_EBITDA_to_Interest_Expense       2
FO US Equity_EBITDA_to_Interest_Expense        2
CC US Equity_EBITDA_to_Interest_Expense       65
COP US Equity_EBITDA_to_Interest_Expense       2
WFC US Equity_EBITDA_to_Interest_Expense     119
WY US Equity_EBITDA_to_Interest_Expense        2
TGT US Equity_EBITDA_to_Interest_Expense       2
MMM US Equity_EBITDA_to_Interest_Expense       2
GM US Equity_EBITDA_to_Interest_Expense        2
CMI US Equity_EBITDA_to_Interest_Expense       2
HAS US Equity_EBITDA_to_Interest_Expense       5
DUK US Equity_EBITDA_to_Interest_Expense       2
EMN US Equity_EBITDA_to_Interest_Expense       2
BK US Equity_EBITDA_to_Interest_Expense      119
UFS US Equity_EBITDA_to_Interest_Expense       2
ECL US Equity_EBITDA_to_Interest_Expense       2
SLB US Equity_EBITDA_to_Interest_Expense       2
UPS US Equity_EBITDA_to_Interest_Expense       2
AT& US Equity_EBITDA_to_Interest_Expense       2
NSC US Equity_EBITDA_to_Interest_Expense       2
PPL US Equity_EBITDA_to_Interest_Expense       2
MO US Equity_EBITDA_to_Interest_Expense      119
JLL US Equity_EBITDA_to_Interest_Expense     119
CI US Equity_EBITDA_to_Interest_Expense        2
ABT US Equity_EBITDA_to_Interest_Expense       2
AMD US Equity_EBITDA_to_Interest_Expense       5
CVX US Equity_EBITDA_to_Interest_Expense       2
CMA US Equity_EBITDA_to_Interest_Expense     119
DTE US Equity_EBITDA_to_Interest_Expense       2
HSY US Equity_EBITDA_to_Interest_Expense       2
KIM US Equity_EBITDA_to_Interest_Expense       2
NBL US Equity_EBITDA_to_Interest_Expense       2
IBM US Equity_EBITDA_to_Interest_Expense       2
WELL US Equity_EBITDA_to_Interest_Expense      2
IR US Equity_EBITDA_to_Interest_Expense        2
BKR US Equity_EBITDA_to_Interest_Expense      74
WEC US Equity_EBITDA_to_Interest_Expense       2
OXY US Equity_EBITDA_to_Interest_Expense      23
WMB US Equity_EBITDA_to_Interest_Expense       2
UNP US Equity_EBITDA_to_Interest_Expense       2
WM US Equity_EBITDA_to_Interest_Expense        2
CCL US Equity_EBITDA_to_Interest_Expense       2
HES US Equity_TOT_DEBT_TO_EBITDA               2
NEM US Equity_TOT_DEBT_TO_EBITDA               2
INTC US Equity_TOT_DEBT_TO_EBITDA              5
IFF US Equity_TOT_DEBT_TO_EBITDA               2
MOS US Equity_TOT_DEBT_TO_EBITDA              11
EXC US Equity_TOT_DEBT_TO_EBITDA               2
KMB US Equity_TOT_DEBT_TO_EBITDA               2
JNJ US Equity_TOT_DEBT_TO_EBITDA               2
BAX US Equity_TOT_DEBT_TO_EBITDA               2
FO US Equity_TOT_DEBT_TO_EBITDA                2
CC US Equity_TOT_DEBT_TO_EBITDA               59
COP US Equity_TOT_DEBT_TO_EBITDA               2
WFC US Equity_TOT_DEBT_TO_EBITDA             119
WY US Equity_TOT_DEBT_TO_EBITDA                2
TGT US Equity_TOT_DEBT_TO_EBITDA               2
MMM US Equity_TOT_DEBT_TO_EBITDA               2
GM US Equity_TOT_DEBT_TO_EBITDA                5
CMI US Equity_TOT_DEBT_TO_EBITDA               8
HAS US Equity_TOT_DEBT_TO_EBITDA               5
DUK US Equity_TOT_DEBT_TO_EBITDA               2
EMN US Equity_TOT_DEBT_TO_EBITDA               2
BK US Equity_TOT_DEBT_TO_EBITDA              119
UFS US Equity_TOT_DEBT_TO_EBITDA               2
ECL US Equity_TOT_DEBT_TO_EBITDA               2
SLB US Equity_TOT_DEBT_TO_EBITDA               2
UPS US Equity_TOT_DEBT_TO_EBITDA               2
AT& US Equity_TOT_DEBT_TO_EBITDA               2
NSC US Equity_TOT_DEBT_TO_EBITDA               2
PPL US Equity_TOT_DEBT_TO_EBITDA               2
MO US Equity_TOT_DEBT_TO_EBITDA                2
JLL US Equity_TOT_DEBT_TO_EBITDA               2
CI US Equity_TOT_DEBT_TO_EBITDA                2
ABT US Equity_TOT_DEBT_TO_EBITDA               2
AMD US Equity_TOT_DEBT_TO_EBITDA               5
CVX US Equity_TOT_DEBT_TO_EBITDA               2
CMA US Equity_TOT_DEBT_TO_EBITDA             119
DTE US Equity_TOT_DEBT_TO_EBITDA               2
HSY US Equity_TOT_DEBT_TO_EBITDA               2
KIM US Equity_TOT_DEBT_TO_EBITDA               2
NBL US Equity_TOT_DEBT_TO_EBITDA               2
IBM US Equity_TOT_DEBT_TO_EBITDA               2
WELL US Equity_TOT_DEBT_TO_EBITDA              2
IR US Equity_TOT_DEBT_TO_EBITDA                2
BKR US Equity_TOT_DEBT_TO_EBITDA              92
WEC US Equity_TOT_DEBT_TO_EBITDA               2
OXY US Equity_TOT_DEBT_TO_EBITDA               2
WMB US Equity_TOT_DEBT_TO_EBITDA               2
UNP US Equity_TOT_DEBT_TO_EBITDA               2
WM US Equity_TOT_DEBT_TO_EBITDA                2
CCL US Equity_TOT_DEBT_TO_EBITDA               2
HES US Equity_BEST_EST_PE_NXT_YR2              2
NEM US Equity_BEST_EST_PE_NXT_YR2              2
INTC US Equity_BEST_EST_PE_NXT_YR2             2
IFF US Equity_BEST_EST_PE_NXT_YR2              2
MOS US Equity_BEST_EST_PE_NXT_YR2              2
EXC US Equity_BEST_EST_PE_NXT_YR2              2
KMB US Equity_BEST_EST_PE_NXT_YR2              2
JNJ US Equity_BEST_EST_PE_NXT_YR2              2
BAX US Equity_BEST_EST_PE_NXT_YR2              2
FO US Equity_BEST_EST_PE_NXT_YR2               2
CC US Equity_BEST_EST_PE_NXT_YR2               2
COP US Equity_BEST_EST_PE_NXT_YR2              2
WFC US Equity_BEST_EST_PE_NXT_YR2              2
WY US Equity_BEST_EST_PE_NXT_YR2               2
TGT US Equity_BEST_EST_PE_NXT_YR2              2
MMM US Equity_BEST_EST_PE_NXT_YR2              2
GM US Equity_BEST_EST_PE_NXT_YR2               2
CMI US Equity_BEST_EST_PE_NXT_YR2              2
HAS US Equity_BEST_EST_PE_NXT_YR2              2
DUK US Equity_BEST_EST_PE_NXT_YR2              2
EMN US Equity_BEST_EST_PE_NXT_YR2              2
BK US Equity_BEST_EST_PE_NXT_YR2               2
UFS US Equity_BEST_EST_PE_NXT_YR2              2
ECL US Equity_BEST_EST_PE_NXT_YR2              2
SLB US Equity_BEST_EST_PE_NXT_YR2              2
UPS US Equity_BEST_EST_PE_NXT_YR2              2
AT& US Equity_BEST_EST_PE_NXT_YR2              2
NSC US Equity_BEST_EST_PE_NXT_YR2              2
PPL US Equity_BEST_EST_PE_NXT_YR2              2
MO US Equity_BEST_EST_PE_NXT_YR2               2
JLL US Equity_BEST_EST_PE_NXT_YR2              2
CI US Equity_BEST_EST_PE_NXT_YR2               2
ABT US Equity_BEST_EST_PE_NXT_YR2              2
AMD US Equity_BEST_EST_PE_NXT_YR2              2
CVX US Equity_BEST_EST_PE_NXT_YR2              2
CMA US Equity_BEST_EST_PE_NXT_YR2              2
DTE US Equity_BEST_EST_PE_NXT_YR2              2
HSY US Equity_BEST_EST_PE_NXT_YR2              2
KIM US Equity_BEST_EST_PE_NXT_YR2              2
NBL US Equity_BEST_EST_PE_NXT_YR2              2
IBM US Equity_BEST_EST_PE_NXT_YR2              2
WELL US Equity_BEST_EST_PE_NXT_YR2             2
IR US Equity_BEST_EST_PE_NXT_YR2               2
BKR US Equity_BEST_EST_PE_NXT_YR2              2
WEC US Equity_BEST_EST_PE_NXT_YR2              2
OXY US Equity_BEST_EST_PE_NXT_YR2              2
WMB US Equity_BEST_EST_PE_NXT_YR2              2
UNP US Equity_BEST_EST_PE_NXT_YR2              2
WM US Equity_BEST_EST_PE_NXT_YR2               2
CCL US Equity_BEST_EST_PE_NXT_YR2              2
HES US Equity_PE_RATIO                         2
NEM US Equity_PE_RATIO                         2
INTC US Equity_PE_RATIO                        2
IFF US Equity_PE_RATIO                         2
MOS US Equity_PE_RATIO                         2
EXC US Equity_PE_RATIO                         2
KMB US Equity_PE_RATIO                         2
JNJ US Equity_PE_RATIO                         2
BAX US Equity_PE_RATIO                         2
FO US Equity_PE_RATIO                          2
CC US Equity_PE_RATIO                         77
COP US Equity_PE_RATIO                         2
WFC US Equity_PE_RATIO                         2
WY US Equity_PE_RATIO                         11
TGT US Equity_PE_RATIO                         2
MMM US Equity_PE_RATIO                         2
GM US Equity_PE_RATIO                         11
CMI US Equity_PE_RATIO                         2
HAS US Equity_PE_RATIO                         2
DUK US Equity_PE_RATIO                         2
EMN US Equity_PE_RATIO                         2
BK US Equity_PE_RATIO                          8
UFS US Equity_PE_RATIO                         2
ECL US Equity_PE_RATIO                         2
SLB US Equity_PE_RATIO                         2
UPS US Equity_PE_RATIO                         2
AT& US Equity_PE_RATIO                         2
NSC US Equity_PE_RATIO                         2
PPL US Equity_PE_RATIO                         2
MO US Equity_PE_RATIO                          2
JLL US Equity_PE_RATIO                         2
CI US Equity_PE_RATIO                          8
ABT US Equity_PE_RATIO                         2
AMD US Equity_PE_RATIO                         2
CVX US Equity_PE_RATIO                         2
CMA US Equity_PE_RATIO                         8
DTE US Equity_PE_RATIO                         2
HSY US Equity_PE_RATIO                         2
KIM US Equity_PE_RATIO                         5
NBL US Equity_PE_RATIO                         2
IBM US Equity_PE_RATIO                         2
WELL US Equity_PE_RATIO                        2
IR US Equity_PE_RATIO                          2
BKR US Equity_PE_RATIO                        98
WEC US Equity_PE_RATIO                         2
OXY US Equity_PE_RATIO                         2
WMB US Equity_PE_RATIO                         2
UNP US Equity_PE_RATIO                         2
WM US Equity_PE_RATIO                          2
CCL US Equity_PE_RATIO                         2
HES US Equity_DIVIDEND_INDICATED_YIELD         2
NEM US Equity_DIVIDEND_INDICATED_YIELD         2
INTC US Equity_DIVIDEND_INDICATED_YIELD        2
IFF US Equity_DIVIDEND_INDICATED_YIELD         2
MOS US Equity_DIVIDEND_INDICATED_YIELD         2
EXC US Equity_DIVIDEND_INDICATED_YIELD         2
KMB US Equity_DIVIDEND_INDICATED_YIELD         2
JNJ US Equity_DIVIDEND_INDICATED_YIELD         2
BAX US Equity_DIVIDEND_INDICATED_YIELD         2
FO US Equity_DIVIDEND_INDICATED_YIELD         23
CC US Equity_DIVIDEND_INDICATED_YIELD         65
COP US Equity_DIVIDEND_INDICATED_YIELD         2
WFC US Equity_DIVIDEND_INDICATED_YIELD         2
WY US Equity_DIVIDEND_INDICATED_YIELD          2
TGT US Equity_DIVIDEND_INDICATED_YIELD         2
MMM US Equity_DIVIDEND_INDICATED_YIELD         2
GM US Equity_DIVIDEND_INDICATED_YIELD         50
CMI US Equity_DIVIDEND_INDICATED_YIELD         2
HAS US Equity_DIVIDEND_INDICATED_YIELD         2
DUK US Equity_DIVIDEND_INDICATED_YIELD         2
EMN US Equity_DIVIDEND_INDICATED_YIELD         2
BK US Equity_DIVIDEND_INDICATED_YIELD          2
UFS US Equity_DIVIDEND_INDICATED_YIELD         5
ECL US Equity_DIVIDEND_INDICATED_YIELD         2
SLB US Equity_DIVIDEND_INDICATED_YIELD         2
UPS US Equity_DIVIDEND_INDICATED_YIELD         2
AT& US Equity_DIVIDEND_INDICATED_YIELD         2
NSC US Equity_DIVIDEND_INDICATED_YIELD         2
PPL US Equity_DIVIDEND_INDICATED_YIELD         2
MO US Equity_DIVIDEND_INDICATED_YIELD          2
JLL US Equity_DIVIDEND_INDICATED_YIELD         2
CI US Equity_DIVIDEND_INDICATED_YIELD         14
ABT US Equity_DIVIDEND_INDICATED_YIELD         2
AMD US Equity_DIVIDEND_INDICATED_YIELD       119
CVX US Equity_DIVIDEND_INDICATED_YIELD         2
CMA US Equity_DIVIDEND_INDICATED_YIELD         2
DTE US Equity_DIVIDEND_INDICATED_YIELD         2
HSY US Equity_DIVIDEND_INDICATED_YIELD         2
KIM US Equity_DIVIDEND_INDICATED_YIELD         2
NBL US Equity_DIVIDEND_INDICATED_YIELD         2
IBM US Equity_DIVIDEND_INDICATED_YIELD         2
WELL US Equity_DIVIDEND_INDICATED_YIELD        2
IR US Equity_DIVIDEND_INDICATED_YIELD          2
BKR US Equity_DIVIDEND_INDICATED_YIELD         2
WEC US Equity_DIVIDEND_INDICATED_YIELD         2
OXY US Equity_DIVIDEND_INDICATED_YIELD         2
WMB US Equity_DIVIDEND_INDICATED_YIELD         2
UNP US Equity_DIVIDEND_INDICATED_YIELD         2
WM US Equity_DIVIDEND_INDICATED_YIELD          2
CCL US Equity_DIVIDEND_INDICATED_YIELD         2
HES US Equity_EQY_DVD_YLD_IND                  2
NEM US Equity_EQY_DVD_YLD_IND                  2
INTC US Equity_EQY_DVD_YLD_IND                 2
IFF US Equity_EQY_DVD_YLD_IND                  2
MOS US Equity_EQY_DVD_YLD_IND                  2
EXC US Equity_EQY_DVD_YLD_IND                  2
KMB US Equity_EQY_DVD_YLD_IND                  2
JNJ US Equity_EQY_DVD_YLD_IND                  2
BAX US Equity_EQY_DVD_YLD_IND                  2
FO US Equity_EQY_DVD_YLD_IND                  23
CC US Equity_EQY_DVD_YLD_IND                  65
COP US Equity_EQY_DVD_YLD_IND                  2
WFC US Equity_EQY_DVD_YLD_IND                  2
WY US Equity_EQY_DVD_YLD_IND                   2
TGT US Equity_EQY_DVD_YLD_IND                  2
MMM US Equity_EQY_DVD_YLD_IND                  2
GM US Equity_EQY_DVD_YLD_IND                  50
CMI US Equity_EQY_DVD_YLD_IND                  2
HAS US Equity_EQY_DVD_YLD_IND                  2
DUK US Equity_EQY_DVD_YLD_IND                  2
EMN US Equity_EQY_DVD_YLD_IND                  2
BK US Equity_EQY_DVD_YLD_IND                   2
UFS US Equity_EQY_DVD_YLD_IND                  5
ECL US Equity_EQY_DVD_YLD_IND                  2
SLB US Equity_EQY_DVD_YLD_IND                  2
UPS US Equity_EQY_DVD_YLD_IND                  2
AT& US Equity_EQY_DVD_YLD_IND                  2
NSC US Equity_EQY_DVD_YLD_IND                  2
PPL US Equity_EQY_DVD_YLD_IND                  2
MO US Equity_EQY_DVD_YLD_IND                   2
JLL US Equity_EQY_DVD_YLD_IND                  2
CI US Equity_EQY_DVD_YLD_IND                  14
ABT US Equity_EQY_DVD_YLD_IND                  2
AMD US Equity_EQY_DVD_YLD_IND                119
CVX US Equity_EQY_DVD_YLD_IND                  2
CMA US Equity_EQY_DVD_YLD_IND                  2
DTE US Equity_EQY_DVD_YLD_IND                  2
HSY US Equity_EQY_DVD_YLD_IND                  2
KIM US Equity_EQY_DVD_YLD_IND                  2
NBL US Equity_EQY_DVD_YLD_IND                  2
IBM US Equity_EQY_DVD_YLD_IND                  2
WELL US Equity_EQY_DVD_YLD_IND                 2
IR US Equity_EQY_DVD_YLD_IND                   2
BKR US Equity_EQY_DVD_YLD_IND                  2
WEC US Equity_EQY_DVD_YLD_IND                  2
OXY US Equity_EQY_DVD_YLD_IND                  2
WMB US Equity_EQY_DVD_YLD_IND                  2
UNP US Equity_EQY_DVD_YLD_IND                  2
WM US Equity_EQY_DVD_YLD_IND                   2
CCL US Equity_EQY_DVD_YLD_IND                  2
HES US Equity_EPS_GROWTH                       5
NEM US Equity_EPS_GROWTH                       2
INTC US Equity_EPS_GROWTH                      5
IFF US Equity_EPS_GROWTH                       2
MOS US Equity_EPS_GROWTH                      11
EXC US Equity_EPS_GROWTH                       2
KMB US Equity_EPS_GROWTH                       2

On observe que chaqu'un des indicateurs possède des variables manquantes. Pour aller même plus loin, chaque titre a des valeurs manquantes pour tous ces indicateurs. Cependant, il sera à noter qu'aucun indicateur n'est disponible pour les deux derniers mois de l'étude (Octobre et Novemebre 2019) par conséquent ces valeurs manquantes ne seront pas prises en compte. 
On a cependant beaucoup d'autres valeurs manquantes :

In [16]:
Valeurs_manquantes = pd.DataFrame(indicateurs.loc[0:116,:].isna().sum(),columns=["NA"]).reset_index()
Valeurs_manquantes = Valeurs_manquantes[Valeurs_manquantes["NA"]!= 0].reset_index(drop=True)
Valeurs_manquantes["Nom"]=Valeurs_manquantes["index"].astype(str).str[0:3]
Valeurs_manquantes

                                        index   NA  Nom
0            INTC US Equity_EBITDA_TO_REVENUE    3  INT
1             MOS US Equity_EBITDA_TO_REVENUE    9  MOS
2              CC US Equity_EBITDA_TO_REVENUE   48  CC
3             WFC US Equity_EBITDA_TO_REVENUE  117  WFC
4             HAS US Equity_EBITDA_TO_REVENUE    3  HAS
5              BK US Equity_EBITDA_TO_REVENUE  117  BK
6             AMD US Equity_EBITDA_TO_REVENUE    3  AMD
7             CMA US Equity_EBITDA_TO_REVENUE  117  CMA
8             BKR US Equity_EBITDA_TO_REVENUE   72  BKR
9      CC US Equity_CURRENT_EV_TO_T12M_EBITDA   63  CC
10    WFC US Equity_CURRENT_EV_TO_T12M_EBITDA  117  WFC
11     GM US Equity_CURRENT_EV_TO_T12M_EBITDA    9  GM
12    CMI US Equity_CURRENT_EV_TO_T12M_EBITDA    6  CMI
13     BK US Equity_CURRENT_EV_TO_T12M_EBITDA  117  BK
14    CMA US Equity_CURRENT_EV_TO_T12M_EBITDA  117  CMA
15    BKR US Equity_CURRENT_EV_TO_T12M_EBITDA   90  BKR
16  INTC US Equity_EBITDA_to_Interest_Expense   12  INT
17   MOS US Equity_EBITDA_to_Interest_Expense    9  MOS
18    CC US Equity_EBITDA_to_Interest_Expense   63  CC
19   WFC US Equity_EBITDA_to_Interest_Expense  117  WFC
20   HAS US Equity_EBITDA_to_Interest_Expense    3  HAS
21    BK US Equity_EBITDA_to_Interest_Expense  117  BK
22    MO US Equity_EBITDA_to_Interest_Expense  117  MO
23   JLL US Equity_EBITDA_to_Interest_Expense  117  JLL
24   AMD US Equity_EBITDA_to_Interest_Expense    3  AMD
25   CMA US Equity_EBITDA_to_Interest_Expense  117  CMA
26   BKR US Equity_EBITDA_to_Interest_Expense   72  BKR
27   OXY US Equity_EBITDA_to_Interest_Expense   21  OXY
28          INTC US Equity_TOT_DEBT_TO_EBITDA    3  INT
29           MOS US Equity_TOT_DEBT_TO_EBITDA    9  MOS
30            CC US Equity_TOT_DEBT_TO_EBITDA   57  CC
31           WFC US Equity_TOT_DEBT_TO_EBITDA  117  WFC
32            GM US Equity_TOT_DEBT_TO_EBITDA    3  GM
33           CMI US Equity_TOT_DEBT_TO_EBITDA    6  CMI
34           HAS US Equity_TOT_DEBT_TO_EBITDA    3  HAS
35            BK US Equity_TOT_DEBT_TO_EBITDA  117  BK
36           AMD US Equity_TOT_DEBT_TO_EBITDA    3  AMD
37           CMA US Equity_TOT_DEBT_TO_EBITDA  117  CMA
38           BKR US Equity_TOT_DEBT_TO_EBITDA   90  BKR
39                      CC US Equity_PE_RATIO   75  CC
40                      WY US Equity_PE_RATIO    9  WY
41                      GM US Equity_PE_RATIO    9  GM
42                      BK US Equity_PE_RATIO    6  BK
43                      CI US Equity_PE_RATIO    6  CI
44                     CMA US Equity_PE_RATIO    6  CMA
45                     KIM US Equity_PE_RATIO    3  KIM
46                     BKR US Equity_PE_RATIO   96  BKR
47      FO US Equity_DIVIDEND_INDICATED_YIELD   21  FO
48      CC US Equity_DIVIDEND_INDICATED_YIELD   63  CC
49      GM US Equity_DIVIDEND_INDICATED_YIELD   48  GM
50     UFS US Equity_DIVIDEND_INDICATED_YIELD    3  UFS
51      CI US Equity_DIVIDEND_INDICATED_YIELD   12  CI
52     AMD US Equity_DIVIDEND_INDICATED_YIELD  117  AMD
53               FO US Equity_EQY_DVD_YLD_IND   21  FO
54               CC US Equity_EQY_DVD_YLD_IND   63  CC
55               GM US Equity_EQY_DVD_YLD_IND   48  GM
56              UFS US Equity_EQY_DVD_YLD_IND    3  UFS
57               CI US Equity_EQY_DVD_YLD_IND   12  CI
58              AMD US Equity_EQY_DVD_YLD_IND  117  AMD
59                   HES US Equity_EPS_GROWTH    3  HES
60                  INTC US Equity_EPS_GROWTH    3  INT
61                   MOS US Equity_EPS_GROWTH    9  MOS
62                    FO US Equity_EPS_GROWTH    3  FO
63                    CC US Equity_EPS_GROWTH   81  CC
64                    GM US Equity_EPS_GROWTH    6  GM
65                   HAS US Equity_EPS_GROWTH    3  HAS
66                   UFS US Equity_EPS_GROWTH    3  UFS
67                   AMD US Equity_EPS_GROWTH    3  AMD
68                    IR US Equity_EPS_GROWTH    3  IR
69                   BKR US Equity_EPS_GROWTH  105  BKR

On remarque emaintenant qu'après avoir enlevé les deux denirères périodes,  nous n'avons plus que des valeurs manquantes de longues durées ou complètes (sur toutes les périodes soit 119). 
Nous allons procéder en 2 façons. 
Nous rappellons le but est de remplacer ou non les valeurs manquantes en n'atténuant pas l'effet des modalité présentes pour les indicateurs. On se dit par exmple qu'ici, remplacder par la moyenne ou médiane pourrait être intéressant, cependant nous craignions que cela affecte les tendances réelles des indicateurs.

In [17]:
Valeurs_manquantes[Valeurs_manquantes["NA"]!=117]

                                        index   NA  Nom
0            INTC US Equity_EBITDA_TO_REVENUE    3  INT
1             MOS US Equity_EBITDA_TO_REVENUE    9  MOS
2              CC US Equity_EBITDA_TO_REVENUE   48  CC
4             HAS US Equity_EBITDA_TO_REVENUE    3  HAS
6             AMD US Equity_EBITDA_TO_REVENUE    3  AMD
8             BKR US Equity_EBITDA_TO_REVENUE   72  BKR
9      CC US Equity_CURRENT_EV_TO_T12M_EBITDA   63  CC
11     GM US Equity_CURRENT_EV_TO_T12M_EBITDA    9  GM
12    CMI US Equity_CURRENT_EV_TO_T12M_EBITDA    6  CMI
15    BKR US Equity_CURRENT_EV_TO_T12M_EBITDA   90  BKR
16  INTC US Equity_EBITDA_to_Interest_Expense   12  INT
17   MOS US Equity_EBITDA_to_Interest_Expense    9  MOS
18    CC US Equity_EBITDA_to_Interest_Expense   63  CC
20   HAS US Equity_EBITDA_to_Interest_Expense    3  HAS
24   AMD US Equity_EBITDA_to_Interest_Expense    3  AMD
26   BKR US Equity_EBITDA_to_Interest_Expense   72  BKR
27   OXY US Equity_EBITDA_to_Interest_Expense   21  OXY
28          INTC US Equity_TOT_DEBT_TO_EBITDA    3  INT
29           MOS US Equity_TOT_DEBT_TO_EBITDA    9  MOS
30            CC US Equity_TOT_DEBT_TO_EBITDA   57  CC
32            GM US Equity_TOT_DEBT_TO_EBITDA    3  GM
33           CMI US Equity_TOT_DEBT_TO_EBITDA    6  CMI
34           HAS US Equity_TOT_DEBT_TO_EBITDA    3  HAS
36           AMD US Equity_TOT_DEBT_TO_EBITDA    3  AMD
38           BKR US Equity_TOT_DEBT_TO_EBITDA   90  BKR
39                      CC US Equity_PE_RATIO   75  CC
40                      WY US Equity_PE_RATIO    9  WY
41                      GM US Equity_PE_RATIO    9  GM
42                      BK US Equity_PE_RATIO    6  BK
43                      CI US Equity_PE_RATIO    6  CI
44                     CMA US Equity_PE_RATIO    6  CMA
45                     KIM US Equity_PE_RATIO    3  KIM
46                     BKR US Equity_PE_RATIO   96  BKR
47      FO US Equity_DIVIDEND_INDICATED_YIELD   21  FO
48      CC US Equity_DIVIDEND_INDICATED_YIELD   63  CC
49      GM US Equity_DIVIDEND_INDICATED_YIELD   48  GM
50     UFS US Equity_DIVIDEND_INDICATED_YIELD    3  UFS
51      CI US Equity_DIVIDEND_INDICATED_YIELD   12  CI
53               FO US Equity_EQY_DVD_YLD_IND   21  FO
54               CC US Equity_EQY_DVD_YLD_IND   63  CC
55               GM US Equity_EQY_DVD_YLD_IND   48  GM
56              UFS US Equity_EQY_DVD_YLD_IND    3  UFS
57               CI US Equity_EQY_DVD_YLD_IND   12  CI
59                   HES US Equity_EPS_GROWTH    3  HES
60                  INTC US Equity_EPS_GROWTH    3  INT
61                   MOS US Equity_EPS_GROWTH    9  MOS
62                    FO US Equity_EPS_GROWTH    3  FO
63                    CC US Equity_EPS_GROWTH   81  CC
64                    GM US Equity_EPS_GROWTH    6  GM
65                   HAS US Equity_EPS_GROWTH    3  HAS
66                   UFS US Equity_EPS_GROWTH    3  UFS
67                   AMD US Equity_EPS_GROWTH    3  AMD
68                    IR US Equity_EPS_GROWTH    3  IR
69                   BKR US Equity_EPS_GROWTH  105  BKR

In [18]:
Valeurs_manquantes[Valeurs_manquantes["NA"]!=117]["NA"].sum()

1389

In [19]:
Valeurs_manquantes[Valeurs_manquantes["NA"]!=117]["Nom"].value_counts()

CC     8
BKR    6
GM     6
INT    4
HAS    4
AMD    4
MOS    4
CI     3
UFS    3
FO     3
CMI    2
BK     1
KIM    1
IR     1
HES    1
OXY    1
CMA    1
WY     1
Name: Nom, dtype: int64

Donc pour conserver l'effet des valeurs d'indicateurs déjà présentes, nous décidons de ne pas remplacer les valeurs manquantes. Nous proposons à la place d'établir une variable appelée "date_active" qui nous permettra de déterminer la date pour laquelle le titre aura tous ces indicateurs disponibles. C'est à partir de cette date ensuite que nous pourrons commencer à l'utiliser afin de prédire les rendements. Nous mettrons aussi une condition supplémentaire en plus: chacun de ces titres ne peut rentrer dans la modélisation qu' un an après sa date active (cela nous permet de posséder au moins 4 périodes d'indicateurs).

In [20]:
Valeurs_manquantes[Valeurs_manquantes["NA"]==117]

                                       index   NA  Nom
3            WFC US Equity_EBITDA_TO_REVENUE  117  WFC
5             BK US Equity_EBITDA_TO_REVENUE  117  BK
7            CMA US Equity_EBITDA_TO_REVENUE  117  CMA
10   WFC US Equity_CURRENT_EV_TO_T12M_EBITDA  117  WFC
13    BK US Equity_CURRENT_EV_TO_T12M_EBITDA  117  BK
14   CMA US Equity_CURRENT_EV_TO_T12M_EBITDA  117  CMA
19  WFC US Equity_EBITDA_to_Interest_Expense  117  WFC
21   BK US Equity_EBITDA_to_Interest_Expense  117  BK
22   MO US Equity_EBITDA_to_Interest_Expense  117  MO
23  JLL US Equity_EBITDA_to_Interest_Expense  117  JLL
25  CMA US Equity_EBITDA_to_Interest_Expense  117  CMA
31          WFC US Equity_TOT_DEBT_TO_EBITDA  117  WFC
35           BK US Equity_TOT_DEBT_TO_EBITDA  117  BK
37          CMA US Equity_TOT_DEBT_TO_EBITDA  117  CMA
52    AMD US Equity_DIVIDEND_INDICATED_YIELD  117  AMD
58             AMD US Equity_EQY_DVD_YLD_IND  117  AMD

In [21]:
Valeurs_manquantes[Valeurs_manquantes["NA"]==117]["Nom"].value_counts()

BK     4
WFC    4
CMA    4
AMD    2
JLL    1
MO     1
Name: Nom, dtype: int64

In [22]:
traitement = list(Valeurs_manquantes[Valeurs_manquantes["NA"]==117]["index"])

Ci-dessus, nous procédons d'une façon différente que précédemnt. Etant donné que la date active ne servirait à rien ici car elle nous amènerait à minima à la fin de l'étude et serait donc inutile et nous priverait de chacun de ces titres ce que nous ne souhaitons pas. Nous allons donc pour chacune de ces variables, remplacer les valeurs manquantes par -999. Cela nous permettra donc tous de même d'utiliser ces titres même si leurs données ne seront parfaites. Nous observons que les 3 titres CMA, WFC  et BK ont 4 indicateurs non disponibles soit près de 50% ce qui semble beaucoup. Nous les remplacons pour le moment mais nous réservons le droit de les enlever par la suite.

In [23]:
indicateurs.loc[0:116,:][traitement] = indicateurs.loc[0:116,:][traitement].fillna(value=-999)

C:\Users\louis\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [24]:
indicateurs#.info()

,Dates,HES US Equity_EBITDA_TO_REVENUE,NEM US Equity_EBITDA_TO_REVENUE,INTC US Equity_EBITDA_TO_REVENUE,IFF US Equity_EBITDA_TO_REVENUE,MOS US Equity_EBITDA_TO_REVENUE,EXC US Equity_EBITDA_TO_REVENUE,KMB US Equity_EBITDA_TO_REVENUE,JNJ US Equity_EBITDA_TO_REVENUE,BAX US Equity_EBITDA_TO_REVENUE,...,IBM US Equity_EPS_GROWTH,WELL US Equity_EPS_GROWTH,IR US Equity_EPS_GROWTH,BKR US Equity_EPS_GROWTH,WEC US Equity_EPS_GROWTH,OXY US Equity_EPS_GROWTH,WMB US Equity_EPS_GROWTH,UNP US Equity_EPS_GROWTH,WM US Equity_EPS_GROWTH,CCL US Equity_EPS_GROWTH
0,2010-01-31,5.871767,16.904533,19.417867,6.352100,11.826033,15.841000,5.915200,11.730967,3.405067,...,5.653033,-21.936300,NaN,NaN,-2.754833,66.666667,12.698400,13.888900,6.451600,-1.960800
1,2010-02-28,5.871767,16.904533,19.417867,6.352100,11.826033,15.841000,5.915200,11.730967,3.405067,...,5.653033,-21.936300,NaN,NaN,-2.754833,66.666667,12.698400,13.888900,6.451600,-1.960800
2,2010-03-31,5.871767,16.904533,19.417867,6.352100,11.826033,15.841000,5.915200,11.730967,3.405067,...,5.653033,-21.936300,NaN,NaN,-2.754833,66.666667,12.698400,13.888900,6.451600,-1.960800
3,2010-04-30,5.690633,16.689900,15.847000,6.407333,7.844767,13.301500,6.313900,10.887133,9.048200,...,4.415967,-8.946000,25.396833,NaN,12.962967,19.047633,17.460333,18.115933,0.666667,7.107833
4,2010-05-31,5.690633,16.689900,15.847000,6.407333,7.844767,13.301500,6.313900,10.887133,9.048200,...,4.415967,-8.946000,25.396833,NaN,12.962967,19.047633,17.460333,18.115933,0.666667,7.107833
5,2010-06-30,5.690633,16.689900,15.847000,6.407333,7.844767,13.301500,6.313900,10.887133,9.048200,...,4.415967,-8.946000,25.396833,NaN,12.962967,19.047633,17.460333,18.115933,0.666667,7.107833
6,2010-07-31,3.730067,18.996267,15.213400,6.953000,9.519700,13.645800,6.045400,10.561567,9.853200,...,5.737700,-8.946000,6.666667,NaN,30.666667,9.941533,17.460333,18.300667,-2.976200,8.000000
7,2010-08-31,3.730067,18.996267,15.213400,6.953000,9.519700,13.645800,6.045400,10.561567,9.853200,...,5.737700,-8.946000,6.666667,NaN,30.666667,9.941533,17.460333,18.300667,-2.976200,8.000000
8,2010-09-30,3.730067,18.996267,15.213400,6.953000,9.519700,13.645800,6.045400,10.561567,9.853200,...,5.737700,-8.946000,6.666667,NaN,30.666667,9.941533,17.460333,18.300667,-2.976200,8.000000
9,2010-10-31,5.207067,18.524333,14.529967,5.428200,13.321000,12.067933,5.944167,8.972567,6.689533,...,5.388133,-9.148200,22.522533,NaN,3.436433,2.962967,17.460333,14.984700,-3.076933,-4.545467
10,2010-11-30,5.207067,18.524333,14.529967,5.428200,13.321000,12.067933,5.944167,8.972567,6.689533,...,5.388133,-9.148200,22.522533,NaN,3.436433,2.962967,17.460333,14.984700,-3.076933,-4.545467
11,2010-12-31,5.207067,18.524333,14.529967,5.428200,13.321000,12.067933,5.944167,8.972567,6.689533,...,5.388133,-9.148200,22.522533,NaN,3.436433,2.962967,17.460333,14.984700,-3.076933,-4.545467
12,2011-01-31,6.010767,18.066267,13.911900,7.061700,11.045067,11.797133,5.216400,11.038967,9.165667,...,5.666667,-9.148200,22.522533,NaN,10.510500,9.135800,17.460333,9.477133,1.801800,-6.250000
13,2011-02-28,6.010767,18.066267,13.911900,7.061700,11.045067,11.797133,5.216400,11.038967,9.165667,...,5.666667,-9.148200,22.522533,NaN,10.510500,9.135800,17.460333,9.477133,1.801800,-6.250000
14,2011-03-31,6.010767,18.066267,13.911900,7.061700,11.045067,11.797133,5.216400,11.038967,9.165667,...,5.666667,-9.148200,22.522533,NaN,10.510500,9.135800,17.460333,9.477133,1.801800,-6.250000
15,2011-04-30,5.727533,16.764533,21.686700,6.399333,9.188200,11.832733,5.780567,9.069900,9.426833,...,4.905667,-13.978500,-16.666667,NaN,4.000000,22.979800,-3.125000,4.460100,-0.653600,0.808067
16,2011-05-31,5.727533,16.764533,21.686700,6.399333,9.188200,11.832733,5.780567,9.069900,9.426833,...,4.905667,-13.978500,-16.666667,NaN,4.000000,22.979800,-3.125000,4.460100,-0.653600,0.808067
17,2011-06-30,5.727533,16.764533,21.686700,6.399333,9.188200,11.832733,5.780567,9.069900,9.426833,...,4.905667,-13.978500,-16.666667,NaN,4.000000,22.979800,-3.125000,4.460100,-0.653600,0.808067
18,2011-07-31,3.200600,18.015067,14.853233,6.887733,10.142100,11.223200,5.902400,9.794867,8.824367,...,4.312367,-13.978500,-21.825400,NaN,5.555567,15.765767,-3.125000,6.118133,4.575167,-3.225800
19,2011-08-31,3.200600,18.015067,14.853233,6.887733,10.142100,11.223200,5.902400,9.794867,8.824367,...,4.312367,-13.978500,-21.825400,NaN,5.555567,15.765767,-3.125000,6.118133,4.575167,-3.225800
20,2011-09-30,3.200600,18.015067,14.853233,6.887733,10.142100,11.223200,5.902400,9.794867,8.824367,...,4.312367,-13.978500,-21.825400,NaN,5.555567,15.765767,-3.125000,6.118133,4.575167,-3.225800
21,2011-10-31,5.061833,-8.969267,14.450633,3.458967,8.245400,12.719900,5.673633,8.545067,7.345567,...,3.459133,-6.392800,9.139800,NaN,-2.803733,12.471667,-3.125000,9.071733,-0.564967,-3.225800
22,2011-11-30,5.061833,-8.969267,14.450633,3.458967,8.245400,12.719900,5.673633,8.545067,7.345567,...,3.459133,-6.392800,9.139800,NaN,-2.803733,12.471667,-3.125000,9.071733,-0.564967,-3.225800
23,2011-12-31,5.061833,-8.969267,14.450633,3.458967,8.245400,12.719900,5.673633,8.545067,7.345567,...,3.459133,-6.392800,9.139800,NaN,-2.803733,12.471667,-3.125000,9.071733,-0.564967,-3.225800
24,2012-01-31,18.462233,17.468000,14.001433,6.564533,9.578667,8.066800,5.838567,11.023000,8.539933,...,4.415967,-6.392800,9.139800,NaN,0.913233,3.875967,-1.960800,12.722633,-1.709400,-30.769233
25,2012-02-29,18.462233,17.468000,14.001433,6.564533,9.578667,8.066800,5.838567,11.023000,8.539933,...,4.415967,-6.392800,9.139800,NaN,0.913233,3.875967,-1.960800,12.722633,-1.709400,-30.769233
26,2012-03-31,18.462233,17.468000,14.001433,6.564533,9.578667,8.066800,5.838567,11.023000,8.539933,...,4.415967,-6.392800,9.139800,NaN,0.913233,3.875967,-1.960800,12.722633,-1.709400,-30.769233
27,2012-04-30,19.023267,14.445933,14.203267,6.948533,9.947700,10.325167,6.123867,10.164900,8.930567,...,3.728067,-25.188533,71.171167,NaN,7.936500,-8.819133,-9.195400,10.351967,-3.333333,0.394467
28,2012-05-31,19.023267,14.445933,14.203267,6.948533,9.947700,10.325167,6.123867,10.164900,8.930567,...,3.728067,-25.188533,71.171167,NaN,7.936500,-8.819133,-9.195400,10.351967,-3.333333,0.394467
29,2012-06-30,19.023267,14.445933,14.203267,6.948533,9.947700,10.325167,6.123867,10.164900,8.930567,...,3.728067,-25.188533,71.171167,NaN,7.936500,-8.819133,-9.195400,10.351967,-3.333333,0.394467
30,2012-07-31,19.487833,13.494633,12.762500,7.213100,9.292133,7.736733,6.309567,9.050733,9.165000,...,1.341600,-15.686267,91.954033,NaN,7.142867,-7.339433,-13.953500,6.060600,-6.896567,-19.047633
31,2012-08-31,19.487833,13.494633,12.762500,7.213100,9.292133,7.736733,6.309567,9.050733,9.165000,...,1.341600,-15.686267,91.954033,NaN,7.142867,-7.339433,-13.953500,6.060600,-6.896567,-19.047633
32,2012-09-30,19.487833,13.494633,12.762500,7.213100,9.292133,7.736733,6.309567,9.050733,9.165000,...,1.341600,-15.686267,91.954033,NaN,7.142867,-7.339433,-13.953500,6.060600,-6.896567,-19.047633
33,2012-10-31,7.438500,13.287567,12.143600,5.856167,5.417300,9.988267,4.170600,8.626633,6.679100,...,3.632467,16.230200,-10.970467,NaN,-4.081633,-25.907600,25.641033,3.316733,-5.747133,-19.047633
34,2012-11-30,7.438500,13.287567,12.143600,5.856167,5.417300,9.988267,4.170600,8.626633,6.679100,...,3.632467,16.230200,-10.970467,NaN,-4.081633,-25.907600,25.641033,3.316733,-5.747133,-19.047633
35,2012-12-31,7.438500,13.287567,12.143600,5.856167,5.417300,9.988267,4.170600,8.626633,6.679100,...,3.632467,16.230200,-10.970467,NaN,-4.081633,-25.907600,25.641033,3.316733,-5.747133,-19.047633
36,2013-01-31,13.227433,12.888467,12.255100,7.190767,5.283833,8.358000,6.293100,11.265367,8.681367,...,0.880500,16.230200,-16.161600,NaN,0.888900,-3.993067,-16.666667,4.419900,-0.900900,50.000000
37,2013-02-28,13.227433,12.888467,12.255100,7.190767,5.283833,8.358000,6.293100,11.265367,8.681367,...,0.880500,16.230200,-16.161600,NaN,0.888900,-3.993067,-16.666667,4.419900,-0.900900,50.000000
38,2013-03-31,13.227433,12.888467,12.255100,7.190767,5.283833,8.358000,6.293100,11.265367,8.681367,...,0.880500,16.230200,-16.161600,NaN,0.888900,-3.993067,-16.666667,4.419900,-0.900900,50.000000
39,2013-04-30,29.922900,-36.273533,13.659167,7.162567,7.399400,10.796300,6.379333,11.291967,9.185067,...,-4.437867,27.297533,-7.183900,NaN,0.000000,0.203267,1.587300,4.265400,5.185200,-9.941533
40,2013-05-31,29.922900,-36.273533,13.659167,7.162567,7.399400,10.796300,6.379333,11.291967,9.185067,...,-4.437867,27.297533,-7.183900,NaN,0.000000,0.203267,1.587300,4.265400,5.185200,-9.941533
41,2013-06-30,29.922900,-36.273533,13.659167,7.162567,7.399400,10.796300,6.379333,11.291967,9.185067,...,-4.437867,27.297533,-7.183900,NaN,0.000000,0.203267,1.587300,4.265400,5.185200,-9.941533
42,2013-07-31,17.745100,10.891100,13.264433,7.311300,8.163267,10.750533,6.429733,10.759600,7.735833,...,4.265867,-14.814800,-11.287167,NaN,-3.431367,5.294133,-5.333333,4.374067,11.594200,-8.333333
43,2013-08-31,17.745100,10.891100,13.264433,7.311300,8.163267,10.750533,6.429733,10.759600,7.735833,...,4.265867,-14.814800,-11.287167,NaN,-3.431367,5.294133,-5.333333,4.374067,11.594200,-8.333333
44,2013-09-30,17.745100,10.891100,13.264433,7.311300,8.163267,10.750533,6.429733,10.759600,7.735833,...,4.265867,-14.814800,-11.287167,NaN,-3.431367,5.294133,-5.333333,4.374067,11.594200,-8.333333
45,2013-10-31,13.262300,-24.375367,11.796200,5.375900,6.913400,9.846167,6.584967,8.782333,6.139133,...,3.917800,-21.734133,-16.981133,NaN,16.279067,96.296300,-5.333333,5.279033,11.594200,-8.333333
46,2013-11-30,13.262300,-24.375367,11.796200,5.375900,6.913400,9.846167,6.584967,8.782333,6.139133,...,3.917800,-21.734133,-16.981133,NaN,16.279067,96.296300,-5.333333,5.279033,11.594200,-8.333333
47,2013-12-31,13.262300,-24.375367,11.796200,5.375900,6.913400,9.846167,6.584967,8.782333,6.139133,...,3.917800,-21.734133,-16.981133,NaN,16.279067,96.296300,-5.333333,5.279033,11.594200,-8.333333
48,2014-01-31,18.593333,9.221467,14.494000,7.741600,7.809900,4.956000,6.336533,12.220067,7.865567,...,-3.431367,-21.734133,19.607833,NaN,6.493500,-5.128200,-5.555567,5.691067,12.037033,53.333333
49,2014-02-28,18.593333,9.221467,14.494000,7.741600,7.809900,4.956000,6.336533,12.220067,7.865567,...,-3.431367,-21.734133,19.607833,NaN,6.493500,-5.128200,-5.555567,5.691067,12.037033,53.333333
50,2014-03-31,18.593333,9.221467,14.494000,7.741600,7.809900,4.956000,6.336533,12.220067,7.865567,...,-3.431367,-21.734133,19.607833,NaN,6.493500,-5.128200,-5.555567,5.691067,12.037033,53.333333
51,2014-04-30,23.105933,9.235133,15.432200,7.585533,7.811700,10.286633,6.676100,11.828667,7.318233,...,15.017067,58.333333,8.791200,NaN,4.487167,-3.434333,-12.121200,6.722700,-4.487167,11.111100
52,2014-05-31,23.105933,9.235133,15.432200,7.585533,7.811700,10.286633,6.676100,11.828667,7.318233,...,15.017067,58.333333,8.791200,NaN,4.487167,-3.434333,-12.121200,6.722700,-4.487167,11.111100
53,2014-06-30,23.105933,9.235133,15.432200,7.585533,7.811700,10.286633,6.676100,11.828667,7.318233,...,15.017067,58.333333,8.791200,NaN,4.487167,-3.434333,-12.121200,6.722700,-4.487167,11.111100
54,2014-07-31,18.384367,6.739200,15.005767,7.415100,9.394967,12.871333,7.232333,11.761533,3.937500,...,-2.726467,260.000000,17.990700,NaN,-2.732233,-11.675133,322.222233,7.466667,-1.612900,11.111100
55,2014-08-31,18.384367,6.739200,15.005767,7.415100,9.394967,12.871333,7.232333,11.761533,3.937500,...,-2.726467,260.000000,17.990700,NaN,-2.732233,-11.675133,322.222233,7.466667,-1.612900,11.111100
56,2014-09-30,18.384367,6.739200,15.005767,7.415100,9.394967,12.871333,7.232333,11.761533,3.937500,...,-2.726467,260.000000,17.990700,NaN,-2.732233,-11.675133,322.222233,7.466667,-1.612900,11.111100
57,2014-10-31,15.147967,7.734267,12.294300,6.667633,6.758500,6.248567,2.520033,8.726867,4.673133,...,-1.321833,255.491167,67.948733,NaN,-5.208333,-11.675133,322.222233,8.854167,-1.612900,11.111100
58,2014-11-30,15.147967,7.734267,12.294300,6.667633,6.758500,6.248567,2.520033,8.726867,4.673133,...,-1.321833,255.491167,67.948733,NaN,-5.208333,-11.675133,322.222233,8.854167,-1.612900,11.111100
59,2014-12-31,15.147967,7.734267,12.294300,6.667633,6.758500,6.248567,2.520033,8.726867,4.673133,...,-1.321833,255.491167,67.948733,NaN,-5.208333,-11.675133,322.222233,8.854167,-1.612900,11.111100
60,2015-01-31,6.545300,13.286000,12.850833,7.819333,5.998833,8.735367,6.693667,11.973833,3.870167,...,0.136600,78.431367,-6.172833,NaN,-1.811600,-11.675133,-18.333333,3.055567,-1.612900,41.025633
61,2015-02-28,6.545300,13.286000,12.850833,7.819333,5.998833,8.735367,6.693667,11.973833,3.870167,...,0.136600,78.431367,-6.172833,NaN,-1.811600,-11.675133,-18.333333,3.055567,-1.612900,41.025633
62,2015-03-31,6.545300,13.286000,12.850833,7.819333,5.998833,8.735367,6.693667,11.973833,3.870167,...,0.136600,78.431367,-6.172833,NaN,-1.811600,-11.675133,-18.333333,3.055567,-1.612900,41.025633
63,2015-04-30,7.219667,11.862333,14.902633,7.377533,6.911600,10.966133,-2.548633,10.880600,3.730633,...,-5.176467,101.515167,-24.347833,NaN,-12.994367,-28.153167,2.380967,-1.165500,11.111100,-0.833333
64,2015-05-31,7.219667,11.862333,14.902633,7.377533,6.911600,10.966133,-2.548633,10.880600,3.730633,...,-5.176467,101.515167,-24.347833,NaN,-12.994367,-28.153167,2.380967,-1.165500,11.111100,-0.833333
65,2015-06-30,7.219667,11.862333,14.902633,7.377533,6.911600,10.966133,-2.548633,10.880600,3.730633,...,-5.176467,101.515167,-24.347833,NaN,-12.994367,-28.153167,2.380967,-1.165500,11.111100,-0.833333
66,2015-07-31,10.273300,8.482900,14.404800,7.875800,4.012900,9.786967,6.789600,10.840833,4.128133,...,-4.214567,6.060600,2.102100,NaN,1.190467,-28.153167,2.380967,-0.435733,9.039533,-0.833333
67,2015-08-31,10.273300,8.482900,14.404800,7.875800,4.012900,9.786967,6.789600,10.840833,4.128133,...,-4.214567,6.060600,2.102100,NaN,1.190467,-28.153167,2.380967,-0.435733,9.039533,-0.833333
68,2015-09-30,10.273300,8.482900,14.404800,7.875800,4.012900,9.786967,6.789600,10.840833,4.128133,...,-4.214567,6.060600,2.102100,NaN,1.190467,-28.153167,2.380967,-0.435733,9.039533,-0.833333
69,2015-10-31,-25.486200,1.262633,11.149233,6.777867,4.138933,8.773500,5.955800,7.864067,4.405167,...,-5.804900,-11.494267,3.797467,NaN,1.851867,-20.795800,2.380967,-6.378600,-17.571067,66.666667
70,2015-11-30,-25.486200,1.262633,11.149233,6.777867,4.138933,8.773500,5.955800,7.864067,4.405167,...,-5.804900,-11.494267,3.797467,NaN,1.851867,-20.795800,2.380967,-6.378600,-17.571067,66.666667
71,2015-12-31,-25.486200,1.262633,11.149233,6.777867,4.138933,8.773500,5.955800,7.864067,4.405167,...,-5.804900,-11.494267,3.797467,NaN,1.851867,-20.795800,2.380967,-6.378600,-17.571067,66.666667
72,2016-01-31,3.391567,10.533500,7.968167,8.367467,4.278567,6.804867,7.268400,12.094333,5.291233,...,-4.897967,-8.771933,39.393933,NaN,8.812267,-22.619033,2.380967,-3.816800,-17.571067,59.770100
73,2016-02-29,3.391567,10.533500,7.968167,8.367467,4.278567,6.804867,7.268400,12.094333,5.291233,...,-4.897967,-8.771933,39.393933,NaN,8.812267,-22.619033,2.380967,-3.816800,-17.571067,59.770100
74,2016-03-31,3.391567,10.533500,7.968167,8.367467,4.278567,6.804867,7.268400,12.094333,5.291233,...,-4.897967,-8.771933,39.393933,NaN,8.812267,-22.619033,2.380967,-3.816800,-17.571067,59.770100
75,2016-04-30,4.330067,13.657167,13.499800,7.885867,3.990033,9.551367,7.374300,11.862000,3.533200,...,-9.006500,-12.734067,279.569900,NaN,19.444433,-22.619033,2.380967,-5.072467,2.777767,7.905967
76,2016-05-31,4.330067,13.657167,13.499800,7.885867,3.990033,9.551367,7.374300,11.862000,3.533200,...,-9.006500,-12.734067,279.569900,NaN,19.444433,-22.619033,2.380967,-5.072467,2.777767,7.905967
77,2016-06-30,4.330067,13.657167,13.499800,7.885867,3.990033,9.551367,7.374300,11.862000,3.533200,...,-9.006500,-12.734067,279.569900,NaN,19.444433,-22.619033,2.380967,-5.072467,2.777767,7.905967
78,2016-07-31,9.147567,10.180533,13.142800,6.426067,4.948900,10.664300,7.364667,11.769533,5.082100,...,-0.548233,26.282067,6.214700,NaN,6.321833,30.303033,2.380967,-3.311267,-3.111100,46.666667
79,2016-08-31,9.147567,10.180533,13.142800,6.426067,4.948900,10.664300,7.364667,11.769533,5.082100,...,-0.548233,26.282067,6.214700,NaN,6.321833,30.303033,2.380967,-3.311267,-3.111100,46.666667
80,2016-09-30,9.147567,10.180533,13.142800,6.426067,4.948900,10.664300,7.364667,11.769533,5.082100,...,-0.548233,26.282067,6.214700,NaN,6.321833,30.303033,2.380967,-3.311267,-3.111100,46.666667
81,2016-10-31,-18.996167,-8.664067,12.566467,5.931133,6.427167,9.655033,7.791467,10.453267,6.086967,...,1.086967,47.368433,-4.545467,NaN,2.923967,31.715200,32.631567,2.200600,8.196733,55.555567
82,2016-11-30,-18.996167,-8.664067,12.566467,5.931133,6.427167,9.655033,7.791467,10.453267,6.086967,...,1.086967,47.368433,-4.545467,NaN,2.923967,31.715200,32.631567,2.200600,8.196733,55.555567
83,2016-12-31,-18.996167,-8.664067,12.566467,5.931133,6.427167,9.655033,7.791467,10.453267,6.086967,...,1.086967,47.368433,-4.545467,NaN,2.923967,31.715200,32.631567,2.200600,8.196733,55.555567
84,2017-01-31,13.672500,11.242600,17.557400,6.312867,4.766000,9.839567,7.593267,12.075500,7.245800,...,-3.668267,34.920633,0.000000,NaN,0.909100,31.715200,32.631567,4.597700,5.747133,-11.934167
85,2017-02-28,13.672500,11.242600,17.557400,6.312867,4.766000,9.839567,7.593267,12.075500,7.245800,...,-3.668267,34.920633,0.000000,NaN,0.909100,31.715200,32.631567,4.597700,5.747133,-11.934167
86,2017-03-31,13.672500,11.242600,17.557400,6.312867,4.766000,9.839567,7.593267,12.075500,7.245800,...,-3.668267,34.920633,0.000000,NaN,0.909100,31.715200,32.631567,4.597700,5.747133,-11.934167
87,2017-04-30,10.999733,12.053333,14.853333,7.145900,5.140400,7.004500,7.240667,11.603600,6.794633,...,-1.653933,-2.424233,-17.640333,NaN,3.508767,31.715200,32.631567,7.977200,8.717933,-1.554400
88,2017-05-31,10.999733,12.053333,14.853333,7.145900,5.140400,7.004500,7.240667,11.603600,6.794633,...,-1.653933,-2.424233,-17.640333,NaN,3.508767,31.715200,32.631567,7.977200,8.717933,-1.554400
89,2017-06-30,10.999733,12.053333,14.853333,7.145900,5.140400,7.004500,7.240667,11.603600,6.794633,...,-1.653933,-2.424233,-17.640333,NaN,3.508767,31.715200,32.631567,7.977200,8.717933,-1.554400
90,2017-07-31,-43.298700,11.566433,14.806767,6.821433,6.244900,11.051567,7.502667,10.904167,5.959867,...,-0.668900,-26.164867,0.714300,NaN,-0.483100,31.715200,-16.666667,3.431367,9.803933,-3.174600
91,2017-08-31,-43.298700,11.566433,14.806767,6.821433,6.244900,11.051567,7.502667,10.904167,5.959867,...,-0.668900,-26.164867,0.714300,NaN,-0.483100,31.715200,-16.666667,3.431367,9.803933,-3.174600
92,2017-09-30,-43.298700,11.566433,14.806767,6.821433,6.244900,11.051567,7.502667,10.904167,5.959867,...,-0.668900,-26.164867,0.714300,NaN,-0.483100,31.715200,-16.666667,3.431367,9.803933,-3.174600
93,2017-10-31,-34.997000,10.801033,13.830433,6.022133,6.919167,10.780333,7.328567,14.000167,5.888000,...,-0.668900,-26.164867,51.315800,NaN,40.322567,31.715200,-16.666667,188.414033,57.894733,4.166667
94,2017-11-30,-34.997000,10.801033,13.830433,6.022133,6.919167,10.780333,7.328567,14.000167,5.888000,...,-0.668900,-26.164867,51.315800,NaN,40.322567,31.715200,-16.666667,188.414033,57.894733,4.166667
95,2017-12-31,-34.997000,10.801033,13.830433,6.022133,6.919167,10.780333,7.328567,14.000167,5.888000,...,-0.668900,-26.164867,51.315800,NaN,40.322567,31.715200,-16.666667,188.414033,57.894733,4.166667
96,2018-01-31,12.159500,11.300667,14.532500,7.456367,6.521200,8.948033,3.226933,12.451067,7.769900,...,-0.716833,12.403100,2.777767,NaN,3.244833,171.111100,-20.000000,9.343433,11.274500,17.307700
97,2018-02-28,12.159500,11.300667,14.532500,7.456367,6.521200,8.948033,3.226933,12.451067,7.769900,...,-0.716833,12.403100,2.777767,NaN,3.244833,171.111100,-20.000000,9.343433,11.274500,17.307700
98,2018-03-31,12.159500,11.300667,14.532500,7.456367,6.521200,8.948033,3.226933,12.451067,7.769900,...,-0.716833,12.403100,2.777767,NaN,3.244833,171.111100,-20.000000,9.343433,11.274500,17.307700

In [25]:
pos=0
Ticker_abr=[]
Dates = []
EBITDA_TO_REVENUE = []
CURRENT_EV_TO_T12M_EBITDA = []
EBITDA_to_Interest_Expense=[]
TOT_DEBT_TO_EBITDA =[]
BEST_EST_PE_NXT_YR2 = []
PE_RATIO = []
DIVIDEND_INDICATED_YIELD = []
EQY_DVD_YLD_IND = []
EPS_GROWTH = []
while pos < 50 : 
        a=[x for x in list(indicateurs.columns) if Equivalence['Abréviation'][pos] in x.upper()]
        a.append("Dates")
        table = indicateurs[a]
        #x=Equivalence['Abréviation'][pos]
        x = [Equivalence['Abréviation'][pos]] * len(table)
        Ticker_abr.extend(x)
        Dates.extend(pd.to_datetime(table.iloc[:,9]))
        #Dates.extend(table.iloc[:,8].astype(str))
        EBITDA_TO_REVENUE.extend(table.iloc[:,0])#.shift(1) #comme annonce de marché 
        CURRENT_EV_TO_T12M_EBITDA.extend(table.iloc[:,1])#.shift(1)
        EBITDA_to_Interest_Expense.extend(table.iloc[:,2])#.shift(1)
        TOT_DEBT_TO_EBITDA.extend(table.iloc[:,3])#.shift(1)
        BEST_EST_PE_NXT_YR2.extend(table.iloc[:,4])
        PE_RATIO.extend(table.iloc[:,5])#.shift(1)
        DIVIDEND_INDICATED_YIELD.extend(table.iloc[:,6])#.shift(1)
        EQY_DVD_YLD_IND.extend(table.iloc[:,7])#.shift(1)
        EPS_GROWTH.extend(table.iloc[:,8])#.shift(1)
        pos+=1
Indicateur_titres = pd.DataFrame(list(zip(Ticker_abr,Dates,EBITDA_TO_REVENUE,CURRENT_EV_TO_T12M_EBITDA,EBITDA_to_Interest_Expense,TOT_DEBT_TO_EBITDA,BEST_EST_PE_NXT_YR2,PE_RATIO,DIVIDEND_INDICATED_YIELD,EQY_DVD_YLD_IND,EPS_GROWTH)),columns=["Ticker_abr","Dates","EBITDA_TO_REVENUE","CURRENT_EV_TO_T12M_EBITDA","EBITDA_to_Interest_Expense","TOT_DEBT_TO_EBITDA","BEST_EST_PE_NXT_YR2","PE_RATIO","DIVIDEND_INDICATED_YIELD","EQY_DVD_YLD_IND","EPS_GROWTH"])

Nous avons crée ici une table suivant le même format que la table des rendements créée précédement. Nous avons donc inscrit chaque indicateur en fonction du titre et de son mois. 
Cette façon de procéder nous permettra de venir plugger ces indicateurs à notre table des rendements. Aussi, nous avons mis tous ces indicateurs au mois et non plus au trimestre par souci pratique.

In [26]:
Indicateur_titres.to_csv("db_indicateurs.csv", header=True,index=False)

In [27]:
Indicateur_titres

,Ticker_abr,Dates,EBITDA_TO_REVENUE,CURRENT_EV_TO_T12M_EBITDA,EBITDA_to_Interest_Expense,TOT_DEBT_TO_EBITDA,BEST_EST_PE_NXT_YR2,PE_RATIO,DIVIDEND_INDICATED_YIELD,EQY_DVD_YLD_IND,EPS_GROWTH
0,HES US,2010-01-31,5.871767,1.529033,6.472233,0.2808,-999.000,6.019033,0.213167,0.213167,NaN
1,HES US,2010-02-28,5.871767,1.529033,6.472233,0.2808,-999.000,6.019033,0.213167,0.213167,NaN
2,HES US,2010-03-31,5.871767,1.529033,6.472233,0.2808,-999.000,6.019033,0.213167,0.213167,NaN
3,HES US,2010-04-30,5.690633,1.170033,5.301200,0.2575,-999.000,3.655333,0.264867,0.264867,90.322567
4,HES US,2010-05-31,5.690633,1.170033,5.301200,0.2575,-999.000,3.655333,0.264867,0.264867,90.322567
...,...,...,...,...,...,...,...,...,...,...,...
5945,CCL US,2019-07-31,7.236967,2.396533,7.061233,0.7053,2.962,3.247033,1.525200,1.525200,-4.225367
5946,CCL US,2019-08-31,7.236967,2.396533,7.061233,0.7053,2.962,3.247033,1.525200,1.525200,-4.225367
5947,CCL US,2019-09-30,7.236967,2.396533,7.061233,0.7053,2.962,3.247033,1.525200,1.525200,-4.225367
5948,CCL US,2019-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5949,CCL US,2019-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
Indicateur_titres.isna().sum()

Ticker_abr                      0
Dates                           0
EBITDA_TO_REVENUE             238
CURRENT_EV_TO_T12M_EBITDA     268
EBITDA_to_Interest_Expense    283
TOT_DEBT_TO_EBITDA            274
BEST_EST_PE_NXT_YR2           100
PE_RATIO                      310
DIVIDEND_INDICATED_YIELD      247
EQY_DVD_YLD_IND               247
EPS_GROWTH                    322
dtype: int64

In [29]:
238+268+283+274+100+310+247+247+322  #900 de plus car on ne comptabilisais pas la NA liés au deux derniers mois 
# soient 50*2*9=900

2289

# Table Activité

In [34]:
def départ(df):
    titre = []
    début = []
    for company in list(df.columns[1:]):
        ent = company
        start = df[["Fonds","{}".format(ent)]].dropna()["Fonds"].min()
        if start > pd.to_datetime('2010-01-31 00:00:00') : 
            titre.append(company)
            début.append(start)
        départ_différé = pd.DataFrame(list(zip(titre,début)),columns=["titre","start"])
    return départ_différé
fusion =départ(IND1)
fusion

           titre      start
0   CC US Equity 2013-04-30
1  BKR US Equity 2016-01-31

In [35]:
fusion =départ(IND1)
for tb in [IND2,IND3,IND4,IND6,IND7,IND8,IND9]:  #IND5
    tb2 = départ(tb)
    fusion = fusion.merge(tb2,how = "outer",left_on="titre",right_on="titre")
fusion.columns=["Tickers","EBITDA_TO_REVENUE","CURRENT_EV_TO_T12M_EBITDA","EBITDA_to_Interest_Expense","TOT_DEBT_TO_EBITDA","PE_RATIO","DIVIDEND_INDICATED_YIELD","EQY_DVD_YLD_IND","EPS_GROWTH"]
#,"BEST_EST_PE_NXT_YR"

#fusion =fusion.fillna(pd.to_datetime("1999-01-01"))
fusion["Date_active"] = fusion.loc[:,"EBITDA_TO_REVENUE":"EPS_GROWTH"].values.max(axis=1)
#fusion[["Tickers","Date_active"]]# La date à laquelle chacun de ces titres rentrera dans notre portefeuille.
fusion.head(4)

,Tickers,EBITDA_TO_REVENUE,CURRENT_EV_TO_T12M_EBITDA,EBITDA_to_Interest_Expense,TOT_DEBT_TO_EBITDA,PE_RATIO,DIVIDEND_INDICATED_YIELD,EQY_DVD_YLD_IND,EPS_GROWTH,Date_active
0,CC US Equity,2013-04-30,2015-04-30,2014-07-31,2014-01-31,2016-04-30,2015-04-30,2015-04-30,2016-01-31,2016-04-30
1,BKR US Equity,2016-01-31,2017-07-31,2016-01-31,2017-07-31,2018-01-31,NaT,NaT,2018-10-31,2018-10-31
2,GM US Equity,NaT,2010-10-31,NaT,2010-04-30,2010-10-31,2014-01-31,2014-01-31,2010-07-31,2014-01-31
3,CMI US Equity,NaT,2010-07-31,NaT,2010-07-31,NaT,NaT,NaT,NaT,2010-07-31

In [36]:
fusion[["Tickers","Date_active"]]

           Tickers Date_active
0     CC US Equity  2016-04-30
1    BKR US Equity  2018-10-31
2     GM US Equity  2014-01-31
3    CMI US Equity  2010-07-31
4   INTC US Equity  2010-10-31
5    OXY US Equity  2011-10-31
6     WY US Equity  2010-10-31
7     BK US Equity  2010-07-31
8     CI US Equity  2011-01-31
9    CMA US Equity  2010-07-31
10   KIM US Equity  2010-04-30
11    FO US Equity  2011-10-31
12   UFS US Equity  2010-04-30
13   HES US Equity  2010-04-30
14    IR US Equity  2010-04-30

In [37]:
fusion.to_csv("Start_indicateurs.csv",header=True,index=False)

# Table d'entraînement

In [38]:
print(Indicateur_titres.shape) # A vérifier, on devrait normalement avoir le meme nombre d'indicateur que de rendements
# car c'est indexé sur les dates.
print(Equivalence.shape)
print(db_rendements.shape)

(5950, 11)
(50, 3)
(5875, 7)

In [39]:
Train_Dataset = Equivalence.merge(Indicateur_titres,how="left", left_on="Abréviation",right_on="Ticker_abr")
del Train_Dataset["Ticker_abr"]
Train_Dataset = db_rendements.merge(Train_Dataset,how="left", left_on=["Date","Titres"],right_on=["Dates","Name"])
del Train_Dataset["Name"]
del Train_Dataset["Dates"]
del Train_Dataset["Abréviation"]
temp = fusion[["Tickers","Date_active"]]
Train_Dataset = Train_Dataset.merge(temp,how="left",left_on="Ticker",right_on="Tickers")
del Train_Dataset["Tickers"]
Train_Dataset["Date_active"] = Train_Dataset["Date_active"].fillna(pd.to_datetime("1997-04-24"))
Train_Dataset.shape#On rajoute une année à la date  d'entrée en activité du titre pour avoir plusieurs trimestre d'indicateur.

(5875, 18)

In [40]:
# Suppression des titres aux périodes où nous ne les utiliserons pas :
Train_setF = Train_Dataset[Train_Dataset["Date"] > Train_Dataset["Date_active"]]
#Train_setF["Date_active2"] = Train_setF["Date_active"].apply(lambda x: x.replace(year=x.year + 1))#.fillna(pd.to_datetime("1997-04-24"))
#Train_setF=Train_setF[Train_setF["Date"]>=Train_setF["Date_active2"]]
#del Train_setF["Date_active"]
#del Train_setF["Date_active2"]
#Train_setF['year'] = Train_setF['Date'].dt.year
Train_setF['month'] = Train_setF['Date'].dt.month
Train_setF["période"] = np.where(Train_setF["month"].isin([1,4,7,10]),1,np.where(Train_setF["month"].isin([2,5,8,11]),2,np.where(Train_setF["month"].isin([3,6,9,12]),3,None)))
Train_setF.shape

C:\Users\louis\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\louis\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

(5605, 20)

In [41]:
Train_setF

,Date,Titres,Return,lag1,lag2,lag3,lag4,Ticker,EBITDA_TO_REVENUE,CURRENT_EV_TO_T12M_EBITDA,EBITDA_to_Interest_Expense,TOT_DEBT_TO_EBITDA,BEST_EST_PE_NXT_YR2,PE_RATIO,DIVIDEND_INDICATED_YIELD,EQY_DVD_YLD_IND,EPS_GROWTH,Date_active,month,période
1,2010-01-31,NEWMONT GOLDCORP CORP,-9.406045,NaN,NaN,NaN,NaN,NEM US Equity,16.904533,2.190000,4.858967,0.354567,-999.0,4.947800,0.261800,0.261800,59.166667,1997-04-24,1,1
3,2010-01-31,INTL FLAVORS & FRAGRANCES,-3.330092,NaN,NaN,NaN,NaN,IFF US Equity,6.352100,3.541267,3.261400,0.763733,-999.0,5.414900,0.699267,0.699267,11.111100,1997-04-24,1,1
4,2010-01-31,MOSAIC CO/THE,-10.413530,NaN,NaN,NaN,NaN,MOS US Equity,11.826033,6.835100,13.253000,0.261067,-999.0,30.601933,0.109700,0.109700,56.565667,1997-04-24,1,1
5,2010-01-31,EXELON CORP,-6.650297,NaN,NaN,NaN,NaN,EXC US Equity,15.841000,1.718900,3.861567,0.566600,-999.0,3.738633,1.597800,1.597800,1.543200,1997-04-24,1,1
6,2010-01-31,KIMBERLY-CLARK CORP,-6.780725,NaN,NaN,NaN,NaN,KMB US Equity,5.915200,2.934567,4.688533,0.490567,-999.0,4.130667,1.460200,1.460200,-2.040800,1997-04-24,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,2019-11-30,OCCIDENTAL PETROLEUM CORP,-4.765432,-8.927367,4.073635,-15.342680,2.147971,OXY US Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-10-31,11,2
5871,2019-11-30,WILLIAMS COS INC,1.837741,-7.273483,3.544075,-4.220779,-12.125540,WMB US Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-04-24,11,2
5872,2019-11-30,UNION PACIFIC CORP,6.946350,2.148413,0.012349,-9.457417,6.410029,UNP US Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-04-24,11,2
5873,2019-11-30,WASTE MANAGEMENT INC,0.623830,-2.426087,-3.230081,2.008547,1.412846,WM US Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-04-24,11,2
5874,2019-11-30,CARNIVAL CORP,6.327681,-1.876001,-0.839383,-5.634554,1.460795,CCL US Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997-04-24,11,2

In [30]:
Train_setF.to_csv("db_train.csv",header=True,index=False)

##### FIN